.section_two {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.value_proposition {
	padding: 0.6rem;
	border-radius: 10px;
	margin-top: 5rem;
	border-width: 0px;
	background-color: #738795;
	color: white;
	cursor: default;
}

.balance_icon {
	width: 70px;
	height: 70px;
}

.section_two_subheading {
	max-width: 500px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	color: #282828;
}

.video_section {
	width: 88dvw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.video_section h2 {
	color: #808b93;
	margin-bottom: 1.5rem;
}

.video_section video {
	width: 100%;
	background-color: black;
	object-fit: cover;
	object-position: center;
	height: 420px;
	border-radius: 10px;
}

