.list {
    outline: 2px solid #cbdeeb;
    border-radius: 10px;
    padding: .8rem;
}

.group {
     margin-bottom: 2.5rem;
}

.group h2 {
    color: #566570;
    margin-bottom: .5rem;
}

.group_item {
    margin-bottom: 2.5rem;
    counter-increment: inherit;
}

.group_item h3 {
    color: #566570;
    margin-bottom: 1rem;
}