.wrapper {
    margin-bottom: 5rem;
}

.wrapper h2 {
    text-align: center;
    color: #39434b;
    margin-bottom: 36px;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d5e4ef;
    border-radius: 10px;
    padding: 2.6rem 4rem;
    gap: 1rem
}

.partner_box img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .partners {
         padding: 2rem;
    }
}
