nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* width: Hug (1, 245px) px;
  height: Hug (54px) px; */
  /* top: 16px; */
  /* left: 97px; */
  gap: 161px;
  opacity: 0px;
}
.navbar_left {
  font-weight: 700;
  font-size: 40px;
  line-height: 26.4px;
  color: #282828;
}
.navbar_center {
  display: flex;
}
.nav_links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav_links li a {
  margin-right: 3rem;
  color:#39434B;
}
.nav_links li a :focus{
    color: #282828;
}
.navbar_right {
  font-weight: bold;
}
.login_button{
    background:#F3CD50;
    border-radius: 10px;
}
